body {
    font-size: 1.2em;
}
header, nav, main, footer {
    margin: 1em auto;
    max-width: 900px;
}
header {
    background-color: seagreen;
    color: seashell;
    text-align: center;
    padding: .5em 0;
}
/*make all images 400px wide*/
img {
    width: 400px;
    height: auto;
}