/*===== GLOBAL =====*/
:root {
    --bodyTextColor: #171212;
    --white: #ffffff;
    --mainBlue: #004C52;
    --brightBlue: #00A1AC;
    --green: #357F1A;
    --brightGreen: #41A71C;
    --darkBrown: #1A110F;
    --altBkgColor: #EEDFD2;
    --activeMenu: #C8976C;
    --linkHover: #006A71;
}
body {
    font-family: 'Lato', sans-serif;
    color: var(--bodyTextColor);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Audiowide', cursive;
    color: var(--mainBlue);
}
a:link {
    color: var(--green);
    text-decoration: none;
}
a:hover {
    color: var(--linkHover);
}
a:visited {
    color: var(--green);
}
a.button {
    display: block;
    background-color: var(--brightGreen);
    padding: .75em 1.75em;
    color: var(--white);
    font-size: 1.1em;
    border-radius: 4px;
    text-align: center;
}
a:hover.button {
    background-color: var(--brightBlue);
}
* {box-sizing: border-box;}
/*===== ALERT =====*/
section.weather-alert {
    width: 100%;
    background-color: var(--altBkgColor);
    text-align: center;
}
section.weather-alert.hide {
    display: none;
}
section.weather-alert h3 {
    font-style: italic;
    padding: .5em 1em 0 1em;
    margin: 0 0 .5em 0;
}
section.weather-alert a.close-button {
    padding: 1em 1em 0 1em;
    font-weight: 400;
    font-style: italic;
}
section.weather-alert a {
    display: inline-block;
    font-weight: 600;
    padding: 0 1em 1em 1em;
}
section.weather-alert article {
    display: none;
    padding: 0 1em 1em 1em;
}
section.weather-alert article.show-hide {
    display: block;
}
section.weather-alert p:first-of-type {
    margin-top: 0;
}
section.weather-alert p:last-of-type {
    text-align: left;
}
section.weather-alert a.hide {
    display: none;
}
/*===== HEAD =====*/
h2.home.page-title {
    display: none;
}
header {
    align-items: center;
    background-color: var(--altBkgColor);
}
/*===== LOGO AND TAGLINE =====*/
header section.logo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em 1em 1.5em 1em;
}
header section.logo img {
    max-width: 100%;
    width: 35%;
    margin-left: 3em;
}
header section.logo section {
    width: 65%;
}
header section.logo section h1 {
    margin: 1em 0 .25em -.5em;
}
header section.logo section p {
    text-align: right;
    margin: 0 1em 0 0;
    font-size: 1.4em;
}
/*===== MENU =====*/
nav {
    width: 100%;
    background-color: var(--brightBlue);
    color: var(--white);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 600;
}
.menu li:first-child {
    display: block;
    width: 100%;
}
.menu li {
    display: none;
}
.menu li a {
    display: block;
    padding: .75em;
    color: var(--white);
    letter-spacing: .11em;
}
.menu li:last-of-type a {
    padding-bottom: 1em;
}
.menu li a:hover {
    color: var(--white);
}
.menu a.active {
    background-color: var(--activeMenu);
    color: var(--white);
}
.mobile-view li {
    display: block;
    background-color: var(--brightBlue);
}
.menu li a.highlight {
    background-color: var(--brightGreen);
    color: var(--white);
}
.menu li a:hover.highlight {
    background-color: var(--brightBlue);
}
/*===== HERO =====*/
section.home-hero {
    background: url(../images/home-hero.jpg) top center/cover no-repeat;
    padding: 1em 1.5em 2em 1.5em;
    text-align: center;
    border-top: 4px solid var(--darkBrown);
    border-bottom: 8px solid var(--darkBrown);
}
section.home-hero h2 {
    color: var(--darkBrown);
    margin: 0 0 1.5em 0;
    letter-spacing: .08em;
    line-height: 1.5em;
}
section.home-hero a.button {
    box-shadow: 1px 1px 8px 2px rgba(26, 17, 15, .8);
    width: 200px;
    margin: 0 auto;
}
/*===== SUB HERO =====*/
section.sub-hero {
    background: url(../images/sub-hero.jpg) center center/cover no-repeat;
    padding: 2em;
    text-align: center;
    border-top: 4px solid var(--darkBrown);
    border-bottom: 8px solid var(--darkBrown);
}
section.sub-hero h2 {
    color: var(--darkBrown);
    
    letter-spacing: .08em;
    line-height: 1.5em;
}
/*===== CURRENT CONDITIONS ROW =====*/
section.current-conditions {
    background: linear-gradient(rgba(230, 249, 247, .9), rgba(230, 249, 247, .95)), url(../images/current-conditions-bkg.jpg) center center/cover no-repeat;
    color: var(--darkBrown);
    padding: 1em;
    text-align: center;
    box-shadow: 1px 1px 8px 2px rgba(26, 17, 15, .8);
    border: 5px solid var(--mainBlue);
}
section.current-conditions h3 {
    color: var(--darkBrown);
    margin: 0;
    padding-bottom: .25em;
    border-bottom: 1px solid var(--darkBrown);
}
section.current-conditions dl {
    margin: .5em 0 0 0;
    display: flex;
    flex-flow: row wrap;
}
section.current-conditions dt {
    font-weight: 600;
    flex-basis: 50%;
    text-align: right;
    padding: .25em 0;
}
section.current-conditions dd {
    flex-basis: 50%;
    flex-grow: 1;
    text-align: left;
    padding: .25em;
    margin: 0;
}
/*===== HOME BODY CONTENT =====*/
main h2 {
    text-align: center;
    padding-bottom: .25em;
    border-bottom: 1px solid var(--mainBlue);
}
main > section {
    padding: 1em;
}
main.subpage {
    display: block;
}
/*===== RENTAL SUMMARY =====*/
section.rentals h2 {
    margin-bottom: -.5em;
}
section.rentals section h3 {
    margin-bottom: 0;
    margin-top: 1.25em;
}
section.rentals section ul {
    padding-left: 1.5em;
    margin-top: .5em;
}
section.rentals img.rental-img {
    display: none;
}
/*===== CONTACT HOME =====*/
.contact-info h4 {
    margin-bottom: -.5em;
}
img.scooter-med {
    display: none;
}
/*===== THREE DAY FORCAST =====*/
section.forcast {
    padding-bottom: 2em;
    background-color: var(--altBkgColor);
}
.forcast ul {
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}
.forcast ul li {
    border: 1px solid var(--mainBlue);
    text-align: center;
    padding-bottom: .4em;
    font-weight: 600;
    background-color: var(--white);
}
.forcast ul li strong {
    display: block;
    background-color: var(--mainBlue);
    padding: .3em 1.5em;
    white-space: nowrap;
    color: var(--white);
}
.forcast ul li img {
    display: block;
    margin: 0 auto;
}

/*===== RENTAL PAGE =====*/
section.rentals-all {
    text-align: center;
}
section.rentals-all img {
    width: 90%;
}
section.rentals-all h3:first-of-type {
    margin-top: 1em;
}
section.rentals-all h3 {
    margin-top: 3em;
}

table {
    text-align: center;
    width: 100%;
    max-width: 320px;
    margin-bottom: 1em;
}
table, th, td {
    border: 1px solid var(--mainBlue);
    border-collapse: collapse;
}
th, td {
    padding: 0;
}
table thead {
    background-color: var(--mainBlue);
}
table thead td h3 {
    margin: 1%;
    color: var(--white);
    font-weight: 500;
}
table tbody th {
    font-weight: bold;
}

/* ==== RESERVATION FORM ==== */
form {
    width: 80%;
    margin: 1em auto 3em auto;
}
form h2 {
    text-align: center !important;
}
form input:invalid:required {
    border-bottom: 4px solid red;
}
form input:valid:required {
    border-bottom: 4px solid green;
}
form input, form select, form textarea {
    margin: .5em 0;
    border: 1px solid #2b2f32;
}
input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
    padding: .2em .5em;
}
label {
    display: flex;
    flex-direction: column;
}
form span {
    margin-top: 4%;
    font-weight: 700;
}
span.req {
    color: red;
    margin: 0;
}
form p {
    text-align: center;
    font-style: italic;
    margin-top: .25em;
}
label#moreinfo-container {
    align-items: flex-start;
}
label#moreinfo-container textarea {
    width: 100%;
    height: 4em;
}
form button {
    background-color: var(--brightGreen);
    color: #ffffff;
    padding: .75em 2em;
    margin: 1em auto 0 auto;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
form button:hover {
    cursor: pointer;
    background-color: var(--brightBlue);
}

/*===== CONTACT PAGE =====*/
section.iframe-map iframe {
    width: 100%;
    height: auto;
}
hr {
    border-top: 1px solid var(--mainBlue);
}

/*===== FOOTER =====*/
footer {
    background-color: var(--darkBrown);
    color: var(--white);
    padding: 1em;
    text-align: center;
}
ul.social {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 50%;
}
.social li img {
    width: 75%;
}
footer a:link {
    color: var(--white);
    text-decoration: underline;
}
footer a:hover, footer a:visited {
    color: var(--white);
}