/* TABLET CSS */
@media only screen and (min-width: 37.5em) {
    /* TOP SECTION */
    section#global-header-top {
        flex-direction: row;
        justify-content: center;
        padding-top: 0;
        align-items: center;
    }
    section#global-header-top p {
        text-align: left;
    }
    img.header-logo {
        margin: 1em 0;
        padding: 0 1em;
        width: 5em;
    }
    h1.tagline-top {
        display: none;
    }
    h1.tagline-bottom {
        display: none;
    }
    h1.tagline {
        display: block;
        font-size: 1.4em;
    }
    section.home_hero {
        background-size: auto 100%;
    }
    article.content-placeholder img {
        width: 300px;
        float: right;
        padding: 0 0 1em 1em;
    }
    /*
    ul.locations {
        margin: 1em 1em 1em 8em;
        max-width: 75%;
        white-space: nowrap;
    }
    */
    section.home_hero {
        background-size: auto 100%;
    }

    /* MAIN CONTENT */
    main.two-col {
        flex-direction: row;
    }
    main.two-col section {
        width: 50%;
        
    }
}