/* DESKTOP CSS */
@media only screen and (min-width: 62.5em) {
    section#global-header-top {
        max-width: 1100px;
        margin: 0 auto;
    }
    img.header-logo {
        width: 7em;
    }
    h1 span.tagline {
        font-size: .85em;
    }
    h1 span.tagline {
        margin: 1em 0 0 0;
    }
    section#global-header-top p {
        margin-top: .5em;
    }
    main {
        max-width: 1100px;
        margin: 0 auto;
    }
    nav ul {
        font-size: 1em;
        max-width: 1100px;
        margin: 0 auto;
    }
    section.home_hero {
        background-size: 100%;
        background-position: top;
    }
    /* ==== WEATHER GALLERY ==== */
    section.weather-gallery {
        grid-template-columns: repeat(3, 1fr);        
    }
    section.weather-gallery figure {
        box-shadow: 0 0 15px -5px #333;
    }
    section.weather-gallery figcaption {
        padding: .25em .5em;
    }
    section.weather-gallery figure:hover {
        margin: 1em .5em;
        box-shadow: 0 0 50px #333;
    }
    /* ==== WEATHER GALLERY END ==== */

    /* ==== CONTACT INFORMATION ==== */
    .contact img {
        width: 50%;
    }
    /* ==== CONTACT INFORMATION END ==== */

    /* ==== STORM CENTER FORM ==== */
    form {
        width: 60%;
    }
    #stormseverity {
        width: 95%;
    }
    #ratingvalue {
        width: 5%;
    }
    label#danger span:last-of-type {
        margin: 0 0 0 3%;
    }
    /* ==== STORM CENTER FORM END ==== */

    /* ==== HOME PAGE TOWNS ==== */
    section.town-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    section.town-info section {
        flex-direction: column;
        justify-content: start;
        text-align: center;
    }
    section.town-info section:nth-child(odd) {
        flex-direction: column;
    }
    section.town-info section img {
        width: 100%;
        margin-right: 0;
    }
    section.town-info section:nth-child(odd) img {
        margin-right: 0;
        margin-left: 0;
    }    
    /* ==== HOME PAGE TOWNS END ==== */
}

@media only screen and (min-width: 51em) {
    /* ==== WEATHER SUMMARY ==== */
    /* ==== HOME QUICK WEATHER ==== */
    section.quick-weather-info .weather-summary {
        font-size: .85em;
    }
    /* ==== HOME QUICK WEATHER END ==== */
    /* ==== WEATHER SUMMARY END ==== */
}