/* DESKTOP CSS */
@media (min-width: 62.5em) {
    section#global-header-top {
        max-width: 1100px;
        margin: 0 auto;
    }
    img.header-logo {
        width: 7em;
    }
    h1.tagline {
        font-size: 1.7em;
    }
    main {
        max-width: 1100px;
        margin: 0 auto;
    }
    nav ul {
        font-size: 1em;
        max-width: 1100px;
        margin: 0 auto;
    }
    section.home_hero {
        background-size: 100%;
        background-position: top;
    }
}