/* TABLET CSS */
@media only screen and (min-width: 37.5em) {
    /* TOP SECTION */
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
    section#global-header-top {
        flex-direction: row;
        justify-content: space-between;
    }
    img.header-logo {
        margin: 1em 3em 1.5em 0;
        padding: 0 1em;
        max-width: 75%;
    }
    ul.locations {
        margin: 1em 1em 1em 8em;
        max-width: 75%;
        white-space: nowrap;
    }
    section.home_hero {
        background-size: auto 100%;
    }

    /* MAIN CONTENT */
    main.two-col {
        flex-direction: row;
    }
    main.two-col section {
        width: 50%;
        
    }
}